
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /Fish-in-your-ear/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /Fish-in-your-ear/index.php [L]
</IfModule>

# END WordPress
# BEGIN ShortPixelWebp

# END ShortPixelWebp